<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:mvc="http://www.springframework.org/schema/mvc"
    xmlns:aop="http://www.springframework.org/schema/aop"
    xsi:schemaLocation="http://www.springframework.org/schema/beans 
         http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context 
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/mvc 
        http://www.springframework.org/schema/mvc/spring-mvc.xsd
         http://www.springframework.org/schema/aop 
       http://www.springframework.org/schema/aop/spring-aop.xsd"
        >

    <!-- 自动扫描包，实现支持注解的IOC -->
    <!-- **匹配任意的包和类，*只匹配类 -->
    <context:component-scan base-package="com.*">
    	<!-- <context:exclude-filter type="annotation" expression="org.springframework.stereotype.Controller" /> -->
    </context:component-scan>
    

    <!-- Spring MVC不处理静态资源 -->
    <mvc:default-servlet-handler />

    <!-- 支持mvc注解驱动 -->
    <mvc:annotation-driven />

    <!--支持aop注解-->
    <aop:aspectj-autoproxy proxy-target-class="true"/>

    <!-- 视图解析器 -->
    <bean
        class="org.springframework.web.servlet.view.InternalResourceViewResolver"
        id="internalResourceViewResolver">
        <!-- 前缀 -->
        <property name="prefix" value="/"/>
        <!-- 后缀 -->
        <property name="suffix" value=".jsp" />
    </bean>
    <!-- 自定义获取bean的工具类 -->
    <bean id="ApplicationContextUtil" class="com.common.util.ApplicationContextUtil"></bean>

    <!-- 原始xml方式配置bean -->
    <bean id="noAnnotationBean" class="com.run.NoAnnotationBean"/>
    
    <mvc:interceptors>
        <mvc:interceptor>
            <mvc:mapping path="/**"/>
            <bean class="com.interceptor.MyInterceptor"/>
        </mvc:interceptor>
    </mvc:interceptors>



    
   <!--  <bean id="multipartResolver"
		class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
		<property name="defaultEncoding" value="UTF-8">
		<property name="maxUploadSize" value="4096" />
		<property name="maxInMemorySize" value="4096" /> 
	</bean> -->
    
   <!--  <aop:config>
       		<aop:aspect id="myLogger" ref="myLogger">
       			<aop:pointcut expression="execution(* com.run.IRun.run(..))" id="myRun"/>
       			<aop:before method="doLogger" pointcut-ref="myRun"/>
       		</aop:aspect>
      </aop:config> -->
</beans>