<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
    <servlet-name>springMVC</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <init-param>
      <param-name>contextConfigLocation</param-name>
      <param-value>classpath:springContext.xml</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>

  <servlet>
    <servlet-name>myServlet</servlet-name>
    <servlet-class>com.servlet.MyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>myServlet</servlet-name>
    <url-pattern>/myServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>springMVC</servlet-name>
    <url-pattern>/</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <!--优先级 精确匹配 gt 最长路径匹配 gt 后缀匹配 gt 默认匹配(以"/"匹配) -->
    <!-- 目前路径匹配有问题，不能使用类似 /rest/* -->
    <!--查资料发现spring的dispatcherservlet在分发时会将req的url与url-pattern中的相同部分截去，匹配剩下的部分-->
    <!--因此后续的controller中路径应该匹配剩下的url，eg： requrl /spring/rest/user, controller中requestmapping /user-->
    <servlet-name>springMVC</servlet-name>
    <url-pattern>/rest1/*</url-pattern>
  </servlet-mapping>
</web-app>
